<div class="container-fluid">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">E-mail is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Current Password</label>
        <input type="password" formControlName="oldPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="f.oldPassword.errors.required">Password is required</div>
          <div *ngIf="f.oldPassword.errors.minlength">Password must be at least 8 characters</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"> New Password</label>
        <input type="password" formControlName="newPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">Password is required</div>
          <div *ngIf="f.newPassword.errors.minlength">Password must be at least 8 characters</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" formControlName="repeatedNewPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.repeatedNewPassword.errors }" />
        <div *ngIf="submitted && f.repeatedNewPassword.errors" class="invalid-feedback">
          <div *ngIf="f.repeatedNewPassword.errors.required">Password is required</div>
          <div *ngIf="f.repeatedNewPassword.errors.minlength">Password must be at least 8 characters</div>
        </div>
      </div>
      <div>
        <button [disabled]="loading || form.invalid" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
